.contact-container {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container {
  width: 30%;
  display: flex;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  flex-wrap: wrap;
  padding: 10px;
}
label {
  flex-basis: 100%;
}
input {
  width: 80%;
  margin: 0 auto 20px auto;
}
.name {
  font-size: 1.2rem;
}
.email {
  flex-basis: 100%;
  font-size: 1.2rem;
}
.button-container {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.button {
  padding: 10px;
  font-size: 1.1rem;
  background: linear-gradient(to right, black 50%, white 50%);
  background-size: 201% 100%;
  background-position: bottom right;
  transition: all 0.4s;
}
.button:hover {
  background-position: bottom left;
  color: white;
}
.text-area {
  font-size: 1.2rem;
}
textarea {
  resize: none;
  margin: 0 auto;
}
@media screen and (max-width: 450px) {
  .form-container {
    width: 90%;
  }
  input {
    width: 95%;
  }
}
