.service-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.service-card {
  width: 40%;
  margin: 20px 0;
  border: 2px solid grey;
  border-radius: 10px;
  padding: 10px;
}
.service-title {
  text-align: center;
  padding: 10px 0;
}
.service-info {
  padding: 5px;
}
@media screen and (max-width: 450px) {
  .service-card {
    width: 60%;
  }
}
@media screen and (max-width: 375px) {
  .service-card {
    width: 80%;
  }
}
