* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  background: #fadadd;
}
a {
  text-decoration: none;
}
.entire-homepage {
  width: 80%;
  margin: 0 auto;
  box-shadow: 10px 10px 25px black;
}
.s-spacer {
  width: 100%;
  height: 5vh;
}
.m-spacer {
  width: 100%;
  height: 10vh;
}
.l-spacer {
  width: 100%;
  height: 15vh;
}

@media screen and (max-width: 450px) {
  .entire-homepage {
    width: 100%;
    margin: 10vh 0 0 0;
  }
}
